<div class="top-sentence">
    <div class="container-fluid col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <div class="text-center">
            <h3>Say the following sentence:</h3>
            <h3><i>"{{sentenceCtrl.sentence.content}}"</i></h3>
        </div>
        <button type="button" class="btn btn-primary center-block" ng-click="recorderCtrl.record(sentenceCtrl.currentLevel)">
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Say
        </button>
        <div class="progress top-small">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <span class="sr-only"></span>
            </div>
        </div>
        <div id="inner"></div>
        <div class="row">
            <a class="col-md-1 col-lg-1 col-sm-1 col-xs-2" href ng-href="#/{{sentenceCtrl.previousLevel}}">Previous</a>
            <a class="col-md-offset-10 col-lg-offset-10 col-sm-offset-10 col-xs-offset-8" href ng-href="#/{{sentenceCtrl.nextLevel}}">Next</a>
        </div>
        <div style="border-top: 1px solid#888;">
            <a href="#/">Change level</a>
        </div>
    </div>
</div>